## Customer LifeTime Value

### This part is taken from the following source

[Source article](https://www.analyticsvidhya.com/blog/2020/10/a-definitive-guide-for-predicting-customer-lifetime-value-clv/)

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff
import datetime as dt
import os
import time

In [4]:
plt.style.use('dark_background')
mpl.rcParams['figure.figsize'] = (12, 6)

In [5]:
raw_folder = '/home/sid/mystuff/myprogs/flirt/projects/product_analytics/customer_segmentation/data/raw'
datapath = os.path.join(raw_folder, 'online_retail.xlsx')

In [7]:
data = pd.read_excel(datapath, parse_dates=['InvoiceDate'], engine='openpyxl')

In [8]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
data.shape

(541909, 8)

#### For our Lifetime value calculation, we don't need all the features in this data set. We need only the CustomerID, InvoiceDate, Quantity and Total Sales (Quantity * UnitPrice).

In [10]:
# Feature selection
features = ['CustomerID', 'InvoiceNo', 'InvoiceDate', 'Quantity', 'UnitPrice']

In [11]:
data_clv = data[features].copy()

In [12]:
data_clv['TotalSales'] = data_clv['Quantity'].multiply(data_clv['UnitPrice'])

In [13]:
data_clv.shape

(541909, 6)

In [14]:
data_clv.head()

   CustomerID InvoiceNo         InvoiceDate  Quantity  UnitPrice  TotalSales
0     17850.0    536365 2010-12-01 08:26:00         6       2.55       15.30
1     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34
2     17850.0    536365 2010-12-01 08:26:00         8       2.75       22.00
3     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34
4     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34

In [15]:
data_clv.describe().T

,count,mean,std,min,25%,50%,75%,max
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
TotalSales,541909.0,17.987795,378.810824,-168469.60,3.40,9.75,17.40,168469.6

In [16]:
## drop negative values in Quantity & UnitPrice
data_clv = data_clv[data_clv['TotalSales'] > 0]
data_clv.describe()

          CustomerID       Quantity      UnitPrice     TotalSales
count  397884.000000  530104.000000  530104.000000  530104.000000
mean    15294.423453      10.542037       3.907625      20.121871
std      1713.141560     155.524124      35.915681     270.356743
min     12346.000000       1.000000       0.001000       0.001000
25%     13969.000000       1.000000       1.250000       3.750000
50%     15159.000000       3.000000       2.080000       9.900000
75%     16795.000000      10.000000       4.130000      17.700000
max     18287.000000   80995.000000   13541.330000  168469.600000

In [18]:
## Check for missing value
pd.DataFrame(zip(data_clv.isnull().sum(), data_clv.isnull().sum()/len(data_clv)), 
             columns=['Count', 'Proportion'], index=data_clv.columns)

              Count  Proportion
CustomerID   132220    0.249423
InvoiceNo         0    0.000000
InvoiceDate       0    0.000000
Quantity          0    0.000000
UnitPrice         0    0.000000
TotalSales        0    0.000000

In [19]:
## dropping the null CustomerID values
data_clv = data_clv[pd.notnull(data_clv['CustomerID'])]

In [20]:
data_clv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397884 entries, 0 to 541908
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   397884 non-null  float64
 1   InvoiceNo    397884 non-null  object
 2   InvoiceDate  397884 non-null  datetime64[ns]
 3   Quantity     397884 non-null  int64
 4   UnitPrice    397884 non-null  float64
 5   TotalSales   397884 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 21.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [22]:
## Check for missing value
pd.DataFrame(zip(data_clv.isnull().sum(), data_clv.isnull().sum()/len(data_clv)), 
             columns=['Count', 'Proportion'], index=data_clv.columns)

             Count  Proportion
CustomerID       0         0.0
InvoiceNo        0         0.0
InvoiceDate      0         0.0
Quantity         0         0.0
UnitPrice        0         0.0
TotalSales       0         0.0

In [23]:
# Printing the details of the dataset
maxdate = data_clv['InvoiceDate'].dt.date.max()
mindate = data_clv['InvoiceDate'].dt.date.min()
unique_cust = data_clv['CustomerID'].nunique()
tot_quantity = data_clv['Quantity'].sum()
tot_sales = data_clv['TotalSales'].sum()

print(f"The Time range of transactions is: {mindate} to {maxdate}")
print(f"Total number of unique customers: {unique_cust}")
print(f"Total Quantity Sold: {tot_quantity}")
print(f"Total Sales for the period: {tot_sales}")

The Time range of transactions is: 2010-12-01 to 2011-12-09
Total number of unique customers: 4338
Total Quantity Sold: 5167812
Total Sales for the period: 8911407.904

### 1. Aggregate Model

The most simplest and the oldest method of computing CLV is this Aggregate/Average method. This assumes a constant average spend and churn rate for all the customers.

This method does not differentiate between customers and produces a single value for CLV at an overall Level. This leads to unrealistic estimates if some of the customers transacted in high value and high volume, which ultimately skews the average CLV value.

## **CLV = ((Average Sales X Purchase Frequency) / Churn) X Profit Margin**

Where,

Average Sales = TotalSales/Total no. of orders

Purchase Frequency = Total no. of orders/Total unique customers

Retention rate = Total no. of orders greater than 1/ Total unique customers

Churn = 1 - Retention rate

Profit Margin = Based on business context

In [24]:
customer = data_clv.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (x.max() - x.min()).days,
    'InvoiceNo': lambda x: len(x),
    'TotalSales': lambda x: sum(x)
})

customer.columns = ['Age', 'Frequency', 'TotalSales']
customer.head()

            Age  Frequency  TotalSales
CustomerID
12346.0       0          1    77183.60
12347.0     365        182     4310.00
12348.0     282         31     1797.24
12349.0       0         73     1757.55
12350.0       0         17      334.40

In [25]:
## Calculating the necessary variables for CLV calculation
Average_sales = round(np.mean(customer['TotalSales']), 2)
Average_sales

2054.27

In [26]:
Purchase_freq = round(np.mean(customer['Frequency']), 2)
Purchase_freq

91.72

In [29]:
Retention_rate = round(customer[customer['Frequency'] > 1].shape[0] / customer.shape[0], 2)

churn = round(1 - Retention_rate, 2)

In [30]:
Retention_rate, churn

(0.98, 0.02)

In [31]:
## calculating the CLV
## Assumin profit margin of 5%

Profit_margin = 0.05

CLV = round(((Average_sales * Purchase_freq / churn)) * Profit_margin)

In [32]:
CLV

471044

### Cohort Model

In [33]:
# Transforming the data to customer level for the analysis
customer = data_clv.groupby('CustomerID').agg({'InvoiceDate':lambda x: x.min().month, 
                                                   'InvoiceNo': lambda x: len(x),
                                                  'TotalSales': lambda x: np.sum(x)})

customer.columns = ['Start_Month', 'Frequency', 'TotalSales']
customer.head()

            Start_Month  Frequency  TotalSales
CustomerID
12346.0               1          1    77183.60
12347.0              12        182     4310.00
12348.0              12         31     1797.24
12349.0              11         73     1757.55
12350.0               2         17      334.40

In [34]:
# Calculating CLV for each cohort
months = ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Monthly_CLV = []

In [35]:
for i in range(1, 13):
    customer_m = customer[customer['Start_Month']==i]
    
    Average_sales = round(np.mean(customer_m['TotalSales']),2)
    
    Purchase_freq = round(np.mean(customer_m['Frequency']), 2)
    
    Retention_rate = customer_m[customer_m['Frequency']>1].shape[0]/customer_m.shape[0]
    churn = round(1 - Retention_rate, 2)
    
    CLV = round(((Average_sales * Purchase_freq/churn)) * Profit_margin, 2)
    
    Monthly_CLV.append(CLV)

In [36]:
monthly_clv = pd.DataFrame(zip(months, Monthly_CLV), columns=['Months', 'CLV'])
display(monthly_clv.style.background_gradient())